In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from matplotlib import pyplot as plt

In [17]:
dataset=pd.read_csv("C:/Users/H_jam/OneDrive/Uni-MA/Term2/DataMining/DataSets/DataPreprocessing/Data.csv")
dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

## Importing Data

In [18]:
# هرجا صحبت از x y میکنیم، یعنی داریم از Supervised استفاده میکنیم
# اینجا y همون dependent variable هست و x همون independent variable هست
x=dataset.iloc[:,0:3].values
# x=dataset.iloc[:,:-1].values

y=dataset.iloc[:,3].values

In [ ]:
#%pip install sklearn
#%pip install scikit-learn

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
imputer=SimpleImputer(missing_values=np.nan,strategy="mean")
#فیت کردن برای اینه که بدونی ابعاد ماتریس چیه
imputer = imputer.fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])

#OR
#x[:,1:3]=imputer.fit_transform(x[:,1:3])

In [ ]:
# Encoding categorical data
dataset2= dataset.dropna(axis=0)

In [21]:
#Code Kardan Data Categorical be Numeric - Label Encoding - In ja fasele ha yeki nist
from sklearn.preprocessing import LabelEncoder
labelencoder_x=LabelEncoder()
x[:,0]=labelencoder_x.fit_transform(x[:,0])
labelencoder_y=LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [24]:
#Code Kardan Data Categorical be Numeric - Label Encoding - In ja fasele ha yeki Hast

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
onehotencoder=ColumnTransformer([("one_hot_encoder",OneHotEncoder(categories='auto'),[0])],remainder="passthrough")